<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>d_keai.png</string>
		<key>expressions</key>
		<array>
			<dict>
				<key>chineseName</key>
				<string>呵呵</string>
				<key>name</key>
				<string>d_hehe</string>
				<key>icon</key>
				<string>d_hehe.png</string>
			</dict>
			<dict>
				<key>chineseName</key>
				<string>嘻嘻</string>
				<key>name</key>
				<string>d_xixi</string>
				<key>icon</key>
				<string>d_xixi.png</string>
			</dict>
			<dict>
				<key>chineseName</key>
				<string>哈哈</string>
				<key>name</key>
				<string>d_haha</string>
				<key>icon</key>
				<string>d_haha.png</string>
			</dict>
			<dict>
				<key>chineseName</key>
				<string>爱你</string>
				<key>name</key>
				<string>d_aini</string>
				<key>icon</key>
				<string>d_aini.png</string>
			</dict>
			<dict>
				<key>chineseName</key>
				<string>挖鼻屎</string>
				<key>name</key>
				<string>d_wabishi</string>
				<key>icon</key>
				<string>d_wabishi.png</string>
			</dict>
			<dict>
				<key>chineseName</key>
				<string>吃惊</string>
				<key>name</key>
				<string>d_chijing</string>
				<key>icon</key>
				<string>d_chijing.png</string>
			</dict>
			<dict>
				<key>chineseName</key>
				<string>晕</string>
				<key>name</key>
				<string>d_yun</string>
				<key>icon</key>
				<string>d_yun.png</string>
			</dict>
			<dict>
				<key>chineseName</key>
				<string>泪</string>
				<key>name</key>
				<string>d_lei</string>
				<key>icon</key>
				<string>d_lei.png</string>
			</dict>
			<dict>
				<key>chineseName</key>
				<string>馋嘴</string>
				<key>name</key>
				<string>d_chanzui</string>
				<key>icon</key>
				<string>d_chanzui.png</string>
			</dict>
			<dict>
				<key>chineseName</key>
				<string>抓狂</string>
				<key>name</key>
				<string>d_zhuakuang</string>
				<key>icon</key>
				<string>d_zhuakuang.png</string>
			</dict>
			<dict>
				<key>chineseName</key>
				<string>哼</string>
				<key>name</key>
				<string>d_heng</string>
				<key>icon</key>
				<string>d_heng.png</string>
			</dict>
			<dict>
				<key>chineseName</key>
				<string>可爱</string>
				<key>name</key>
				<string>d_keai</string>
				<key>icon</key>
				<string>d_keai.png</string>
			</dict>
			<dict>
				<key>chineseName</key>
				<string>怒</string>
				<key>name</key>
				<string>d_nu</string>
				<key>icon</key>
				<string>d_nu.png</string>
			</dict>
			<dict>
				<key>chineseName</key>
				<string>汗</string>
				<key>name</key>
				<string>d_han</string>
				<key>icon</key>
				<string>d_han.png</string>
			</dict>
			<dict>
				<key>chineseName</key>
				<string>害羞</string>
				<key>name</key>
				<string>d_haixiu</string>
				<key>icon</key>
				<string>d_haixiu.png</string>
			</dict>
			<dict>
				<key>chineseName</key>
				<string>睡觉</string>
				<key>name</key>
				<string>d_shuijiao</string>
				<key>icon</key>
				<string>d_shuijiao.png</string>
			</dict>
			<dict>
				<key>chineseName</key>
				<string>钱</string>
				<key>name</key>
				<string>d_qian</string>
				<key>icon</key>
				<string>d_qian.png</string>
			</dict>
			<dict>
				<key>chineseName</key>
				<string>偷笑</string>
				<key>name</key>
				<string>d_touxiao</string>
				<key>icon</key>
				<string>d_touxiao.png</string>
			</dict>
			<dict>
				<key>chineseName</key>
				<string>笑cry</string>
				<key>name</key>
				<string>d_xiaoku</string>
				<key>icon</key>
				<string>d_xiaoku.png</string>
			</dict>
			<dict>
				<key>chineseName</key>
				<string>doge</string>
				<key>name</key>
				<string>d_doge</string>
				<key>icon</key>
				<string>d_doge.png</string>
			</dict>
			<dict>
				<key>chineseName</key>
				<string>箭头</string>
				<key>name</key>
				<string>compose_emotion_delete</string>
				<key>icon</key>
				<string>compose_emotion_delete.png</string>
			</dict>
			<dict>
				<key>chineseName</key>
				<string>喵喵</string>
				<key>name</key>
				<string>d_miao</string>
				<key>icon</key>
				<string>d_miao.png</string>
			</dict>
			<dict>
				<key>chineseName</key>
				<string>酷</string>
				<key>name</key>
				<string>d_ku</string>
				<key>icon</key>
				<string>d_ku.png</string>
			</dict>
			<dict>
				<key>chineseName</key>
				<string>衰</string>
				<key>name</key>
				<string>d_shuai</string>
				<key>icon</key>
				<string>d_shuai.png</string>
			</dict>
			<dict>
				<key>chineseName</key>
				<string>闭嘴</string>
				<key>name</key>
				<string>d_bizui</string>
				<key>icon</key>
				<string>d_bizui.png</string>
			</dict>
			<dict>
				<key>chineseName</key>
				<string>鄙视</string>
				<key>name</key>
				<string>d_bishi</string>
				<key>icon</key>
				<string>d_bishi.png</string>
			</dict>
			<dict>
				<key>chineseName</key>
				<string>花心</string>
				<key>name</key>
				<string>d_huaxin</string>
				<key>icon</key>
				<string>d_huaxin.png</string>
			</dict>
			<dict>
				<key>chineseName</key>
				<string>鼓掌</string>
				<key>name</key>
				<string>d_guzhang</string>
				<key>icon</key>
				<string>d_guzhang.png</string>
			</dict>
			<dict>
				<key>chineseName</key>
				<string>悲伤</string>
				<key>name</key>
				<string>d_beishang</string>
				<key>icon</key>
				<string>d_beishang.png</string>
			</dict>
			<dict>
				<key>chineseName</key>
				<string>思考</string>
				<key>name</key>
				<string>d_sikao</string>
				<key>icon</key>
				<string>d_sikao.png</string>
			</dict>
			<dict>
				<key>chineseName</key>
				<string>生病</string>
				<key>name</key>
				<string>d_shengbing</string>
				<key>icon</key>
				<string>d_shengbing.png</string>
			</dict>
			<dict>
				<key>chineseName</key>
				<string>亲亲</string>
				<key>name</key>
				<string>d_qinqin</string>
				<key>icon</key>
				<string>d_qinqin.png</string>
			</dict>
			<dict>
				<key>chineseName</key>
				<string>怒骂</string>
				<key>name</key>
				<string>d_numa</string>
				<key>icon</key>
				<string>d_numa.png</string>
			</dict>
			<dict>
				<key>chineseName</key>
				<string>太开心</string>
				<key>name</key>
				<string>d_taikaixin</string>
				<key>icon</key>
				<string>d_taikaixin.png</string>
			</dict>
			<dict>
				<key>chineseName</key>
				<string>懒得理你</string>
				<key>name</key>
				<string>d_landelini</string>
				<key>icon</key>
				<string>d_landelini.png</string>
			</dict>
			<dict>
				<key>chineseName</key>
				<string>右哼哼</string>
				<key>name</key>
				<string>d_youhengheng</string>
				<key>icon</key>
				<string>d_youhengheng.png</string>
			</dict>
			<dict>
				<key>chineseName</key>
				<string>左哼哼</string>
				<key>name</key>
				<string>d_zuohengheng</string>
				<key>icon</key>
				<string>d_zuohengheng.png</string>
			</dict>
			<dict>
				<key>chineseName</key>
				<string>嘘</string>
				<key>name</key>
				<string>d_xu</string>
				<key>icon</key>
				<string>d_xu.png</string>
			</dict>
			<dict>
				<key>chineseName</key>
				<string>委屈</string>
				<key>name</key>
				<string>d_weiqu</string>
				<key>icon</key>
				<string>d_weiqu.png</string>
			</dict>
			<dict>
				<key>chineseName</key>
				<string>箭头</string>
				<key>name</key>
				<string>compose_emotion_delete</string>
				<key>icon</key>
				<string>compose_emotion_delete.png</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
